
#dashBoardPane {
    
/*  
    -fx-background-image: url('../images/inventory-icon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-background-position: 0,0;
*/

}